<!DOCTYPE html>
<html>
<head>
<script type='text/javascript'>var _sf_startpt=(new Date()).getTime()</script>
<% if current_user %>
	<title>Like Monkey — <%= current_user.name %></title>
<% else %>
	<title>Like Monkey! See what your friends are Liking on Tumblr</title>
<% end %>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>


<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-2442790-12']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>

<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">      
          <a class="brand" href="/">Like Monkey</a>
          <div class="nav-collapse collapse">
            
            <% if current_user %>
            <p class="navbar-text pull-right">
              Logged in as <a href="#" class="navbar-link"><%= current_user.name %></a>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="/signout" class="navbar-link">Sign out</a>
            </p>
            <% end %>

            <ul class="nav">
              <li><a href="/about">About</a></li>              
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
<body>



<%= yield %>


    <div id="footer">

      <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=376207995819674";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

      <div class="fb-like" data-href="http://thelikemonkey.com/" data-send="false" data-layout="button_count" data-width="200" data-show-faces="false"></div>

      &nbsp;&nbsp;

      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.thelikemonkey.com" data-text="See what your friends are Liking on Tumblr!" data-via="jrlevine" data-related="jrlevine" data-dnt="true">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


      <br><br>
        <p class="muted credit">Brought to you by <a href="http://jakelevine.me" target="_blank">Jake Levine</a> / <a href="http://www.twitter.com" target="_blank">@jrlevine</a></p> 
    </div>

<script type='text/javascript'>
    var _sf_async_config={};
    /** CONFIGURATION START **/
    _sf_async_config.uid = 10600;
    _sf_async_config.domain = 'thelikemonkey.com';
    _sf_async_config.sections = 'Change this to your Section name';  //CHANGE THIS
    _sf_async_config.authors = 'Change this to your Author name';    //CHANGE THIS
    /** CONFIGURATION END **/
    (function(){
      function loadChartbeat() {
        window._sf_endpt=(new Date()).getTime();
        var e = document.createElement('script');
        e.setAttribute('language', 'javascript');
        e.setAttribute('type', 'text/javascript');
        e.setAttribute('src',
           (('https:' == document.location.protocol) ? 'https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/' : 'http://static.chartbeat.com/') +
           'js/chartbeat.js');
        document.body.appendChild(e);
      }
      var oldonload = window.onload;
      window.onload = (typeof window.onload != 'function') ?
         loadChartbeat : function() { oldonload(); loadChartbeat(); };
    })();
</script>

</body>
</html>
